src/main/mule/POST-create-customerDetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="c7353fe7-80f1-476b-93aa-f42efb800610" >
		<salesforce:basic-connection username="saiphanikumar7020@gmail.com" password="Welcome@india123" securityToken="bG4rPSqMRmOUqoIir2PBBpp6Y" />
	</salesforce:sfdc-config>
	<flow name="POST-create-customerDetailsFlow" doc:id="af2efb07-1dc7-4398-b4b5-10105c5df967" >
		<ee:transform doc:name="Transform Message" doc:id="b32ba784-351a-4a0b-8a2f-3d4ba6e6b435">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map((item, index) ->
	{
	"firstName__c" : item.firstName,
	"lastName__c" : item.lastName,
	"dob__c" : if(sizeOf(item.dob) ==10) item.dob else "dob error",
	"mobileNumber__c" : if(sizeOf(item.mobileNumber) ==10) item.mobileNumber else "mobileNumber Error",
	"email__c" : item.email,
	"address__c" : item.address,
	"city__c" : item.city,
	"state__c" : item.state,
	"pincode__c" : if(sizeOf(item.pincode) ==6) item.pincode  else "pincode error"
	
	}
) filter ((item, index) -> item.dob__c == "dob error" or item.mobileNumber__c =="mobileNumber Error" or item.pincode__c == "pincode error")
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="b6df858d-e231-4ab2-b6f2-8b4ec1d7af91" >
			<ee:transform doc:name="Transform Message" doc:id="1b8896c4-f230-486c-a5f5-c6e98cabbe70">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<salesforce:create doc:name="Create" doc:id="c419d1ec-4672-4e82-848b-4da0e788cdd6" config-ref="Salesforce_Config" type="Customer_Details_Bank__c" />
			<ee:transform doc:name="Transform Message" doc:id="87b866bf-c992-4626-bdd4-ab536ffb0958">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{

"successCode" :  "200",
"successMessage" : "Your account created successfully in our Database"

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="cf7faea4-339a-4d04-9c49-c457af9597c8" message='#["success"]'/>
	</flow>
</mule>
